<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lilipay.alipay.mapper.AlipayAppEntityMapper">
  <resultMap id="BaseResultMap" type="com.lilipay.alipay.entity.AlipayAppEntity">
    <!--@mbg.generated-->
    <!--@Table alipay_app-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="request_no" jdbcType="VARCHAR" property="requestNo" />
    <result column="process_no" jdbcType="VARCHAR" property="processNo" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="out_trade_no" jdbcType="VARCHAR" property="outTradeNo" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="timeout_express" jdbcType="VARCHAR" property="timeoutExpress" />
    <result column="time_expire" jdbcType="VARCHAR" property="timeExpire" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="trade_no" jdbcType="VARCHAR" property="tradeNo" />
    <result column="buyer_logon_id" jdbcType="VARCHAR" property="buyerLogonId" />
    <result column="trade_status" jdbcType="VARCHAR" property="tradeStatus" />
    <result column="buyer_user_id" jdbcType="VARCHAR" property="buyerUserId" />
    <result column="date_created" jdbcType="TIMESTAMP" property="dateCreated" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="date_updated" jdbcType="TIMESTAMP" property="dateUpdated" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="body" jdbcType="VARCHAR" property="body" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, request_no, process_no, app_id, out_trade_no, subject, total_amount, timeout_express, 
    time_expire, `status`, trade_no, buyer_logon_id, trade_status, buyer_user_id, date_created, 
    created_by, date_updated, updated_by, body
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from alipay_app
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from alipay_app
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.lilipay.alipay.entity.AlipayAppEntity" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into alipay_app (request_no, process_no, app_id, 
      out_trade_no, subject, total_amount, 
      timeout_express, time_expire, `status`, 
      trade_no, buyer_logon_id, trade_status, 
      buyer_user_id, date_created, created_by, 
      date_updated, updated_by, body
      )
    values (#{requestNo,jdbcType=VARCHAR}, #{processNo,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, 
      #{outTradeNo,jdbcType=VARCHAR}, #{subject,jdbcType=VARCHAR}, #{totalAmount,jdbcType=DECIMAL}, 
      #{timeoutExpress,jdbcType=VARCHAR}, #{timeExpire,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{tradeNo,jdbcType=VARCHAR}, #{buyerLogonId,jdbcType=VARCHAR}, #{tradeStatus,jdbcType=VARCHAR}, 
      #{buyerUserId,jdbcType=VARCHAR}, #{dateCreated,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, 
      #{dateUpdated,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{body,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.lilipay.alipay.entity.AlipayAppEntity" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into alipay_app
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="requestNo != null">
        request_no,
      </if>
      <if test="processNo != null">
        process_no,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="outTradeNo != null">
        out_trade_no,
      </if>
      <if test="subject != null">
        subject,
      </if>
      <if test="totalAmount != null">
        total_amount,
      </if>
      <if test="timeoutExpress != null">
        timeout_express,
      </if>
      <if test="timeExpire != null">
        time_expire,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="tradeNo != null">
        trade_no,
      </if>
      <if test="buyerLogonId != null">
        buyer_logon_id,
      </if>
      <if test="tradeStatus != null">
        trade_status,
      </if>
      <if test="buyerUserId != null">
        buyer_user_id,
      </if>
      <if test="dateCreated != null">
        date_created,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="dateUpdated != null">
        date_updated,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="body != null">
        body,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="requestNo != null">
        #{requestNo,jdbcType=VARCHAR},
      </if>
      <if test="processNo != null">
        #{processNo,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null">
        #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null">
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="timeoutExpress != null">
        #{timeoutExpress,jdbcType=VARCHAR},
      </if>
      <if test="timeExpire != null">
        #{timeExpire,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="tradeNo != null">
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="buyerLogonId != null">
        #{buyerLogonId,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null">
        #{tradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="buyerUserId != null">
        #{buyerUserId,jdbcType=VARCHAR},
      </if>
      <if test="dateCreated != null">
        #{dateCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="dateUpdated != null">
        #{dateUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="body != null">
        #{body,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lilipay.alipay.entity.AlipayAppEntity">
    <!--@mbg.generated-->
    update alipay_app
    <set>
      <if test="requestNo != null">
        request_no = #{requestNo,jdbcType=VARCHAR},
      </if>
      <if test="processNo != null">
        process_no = #{processNo,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null">
        out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null">
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="timeoutExpress != null">
        timeout_express = #{timeoutExpress,jdbcType=VARCHAR},
      </if>
      <if test="timeExpire != null">
        time_expire = #{timeExpire,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="tradeNo != null">
        trade_no = #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="buyerLogonId != null">
        buyer_logon_id = #{buyerLogonId,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null">
        trade_status = #{tradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="buyerUserId != null">
        buyer_user_id = #{buyerUserId,jdbcType=VARCHAR},
      </if>
      <if test="dateCreated != null">
        date_created = #{dateCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="dateUpdated != null">
        date_updated = #{dateUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="body != null">
        body = #{body,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lilipay.alipay.entity.AlipayAppEntity">
    <!--@mbg.generated-->
    update alipay_app
    set request_no = #{requestNo,jdbcType=VARCHAR},
      process_no = #{processNo,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=VARCHAR},
      out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      subject = #{subject,jdbcType=VARCHAR},
      total_amount = #{totalAmount,jdbcType=DECIMAL},
      timeout_express = #{timeoutExpress,jdbcType=VARCHAR},
      time_expire = #{timeExpire,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR},
      trade_no = #{tradeNo,jdbcType=VARCHAR},
      buyer_logon_id = #{buyerLogonId,jdbcType=VARCHAR},
      trade_status = #{tradeStatus,jdbcType=VARCHAR},
      buyer_user_id = #{buyerUserId,jdbcType=VARCHAR},
      date_created = #{dateCreated,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      date_updated = #{dateUpdated,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      body = #{body,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!--auto generated by MybatisCodeHelper on 2023-04-14-->
  <select id="selectByRequestNo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from alipay_app
    where request_no=#{requestNo,jdbcType=VARCHAR}
  </select>
</mapper>