<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lilipay.wechat.mapper.WechatEntityMapper">
  <resultMap id="BaseResultMap" type="com.lilipay.wechat.entity.WechatEntity">
    <!--@mbg.generated-->
    <!--@Table wechat-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="request_no" jdbcType="VARCHAR" property="requestNo" />
    <result column="process_no" jdbcType="VARCHAR" property="processNo" />
    <result column="wechat_member_no" jdbcType="VARCHAR" property="wechatMemberNo" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="trade_type" jdbcType="VARCHAR" property="tradeType" />
    <result column="notice_queue" jdbcType="VARCHAR" property="noticeQueue" />
    <result column="ext_text1" jdbcType="VARCHAR" property="extText1" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="code_url" jdbcType="VARCHAR" property="codeUrl" />
    <result column="mweb_url" jdbcType="VARCHAR" property="mwebUrl" />
    <result column="scene_info" jdbcType="VARCHAR" property="sceneInfo" />
    <result column="request_ip" jdbcType="VARCHAR" property="requestIp" />
    <result column="prepay_id" jdbcType="VARCHAR" property="prepayId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="transaction_id" jdbcType="VARCHAR" property="transactionId" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="submit_time" jdbcType="TIMESTAMP" property="submitTime" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="return_time" jdbcType="TIMESTAMP" property="returnTime" />
    <result column="return_code" jdbcType="VARCHAR" property="returnCode" />
    <result column="return_msg" jdbcType="VARCHAR" property="returnMsg" />
    <result column="result_code" jdbcType="VARCHAR" property="resultCode" />
    <result column="err_code" jdbcType="VARCHAR" property="errCode" />
    <result column="err_code_des" jdbcType="VARCHAR" property="errCodeDes" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="bank_type" jdbcType="VARCHAR" property="bankType" />
    <result column="trade_state" jdbcType="VARCHAR" property="tradeState" />
    <result column="trade_state_desc" jdbcType="VARCHAR" property="tradeStateDesc" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="trade_limit" jdbcType="VARCHAR" property="tradeLimit" />
    <result column="trade_desc" jdbcType="VARCHAR" property="tradeDesc" />
    <result column="date_created" jdbcType="TIMESTAMP" property="dateCreated" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="date_updated" jdbcType="TIMESTAMP" property="dateUpdated" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, request_no, process_no, wechat_member_no, app_id, trade_type, notice_queue, ext_text1, 
    product_id, code_url, mweb_url, scene_info, request_ip, prepay_id, order_no, transaction_id, 
    amount, remark, submit_time, expire_time, pay_time, return_time, return_code, return_msg, 
    result_code, err_code, err_code_des, open_id, bank_type, trade_state, trade_state_desc, 
    `status`, trade_limit, trade_desc, date_created, created_by, date_updated, updated_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from wechat
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from wechat
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lilipay.wechat.entity.WechatEntity">
    <!--@mbg.generated-->
    insert into wechat (id, request_no, process_no, 
      wechat_member_no, app_id, trade_type, 
      notice_queue, ext_text1, product_id, 
      code_url, mweb_url, scene_info, 
      request_ip, prepay_id, order_no, 
      transaction_id, amount, remark, 
      submit_time, expire_time, pay_time, 
      return_time, return_code, return_msg, 
      result_code, err_code, err_code_des, 
      open_id, bank_type, trade_state, 
      trade_state_desc, `status`, trade_limit, 
      trade_desc, date_created, created_by, 
      date_updated, updated_by)
    values (#{id,jdbcType=BIGINT}, #{requestNo,jdbcType=VARCHAR}, #{processNo,jdbcType=VARCHAR}, 
      #{wechatMemberNo,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, #{tradeType,jdbcType=VARCHAR}, 
      #{noticeQueue,jdbcType=VARCHAR}, #{extText1,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, 
      #{codeUrl,jdbcType=VARCHAR}, #{mwebUrl,jdbcType=VARCHAR}, #{sceneInfo,jdbcType=VARCHAR}, 
      #{requestIp,jdbcType=VARCHAR}, #{prepayId,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, 
      #{transactionId,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{submitTime,jdbcType=TIMESTAMP}, #{expireTime,jdbcType=TIMESTAMP}, #{payTime,jdbcType=TIMESTAMP}, 
      #{returnTime,jdbcType=TIMESTAMP}, #{returnCode,jdbcType=VARCHAR}, #{returnMsg,jdbcType=VARCHAR}, 
      #{resultCode,jdbcType=VARCHAR}, #{errCode,jdbcType=VARCHAR}, #{errCodeDes,jdbcType=VARCHAR}, 
      #{openId,jdbcType=VARCHAR}, #{bankType,jdbcType=VARCHAR}, #{tradeState,jdbcType=VARCHAR}, 
      #{tradeStateDesc,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{tradeLimit,jdbcType=VARCHAR}, 
      #{tradeDesc,jdbcType=VARCHAR}, #{dateCreated,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, 
      #{dateUpdated,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lilipay.wechat.entity.WechatEntity">
    <!--@mbg.generated-->
    insert into wechat
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="requestNo != null">
        request_no,
      </if>
      <if test="processNo != null">
        process_no,
      </if>
      <if test="wechatMemberNo != null">
        wechat_member_no,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="tradeType != null">
        trade_type,
      </if>
      <if test="noticeQueue != null">
        notice_queue,
      </if>
      <if test="extText1 != null">
        ext_text1,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="codeUrl != null">
        code_url,
      </if>
      <if test="mwebUrl != null">
        mweb_url,
      </if>
      <if test="sceneInfo != null">
        scene_info,
      </if>
      <if test="requestIp != null">
        request_ip,
      </if>
      <if test="prepayId != null">
        prepay_id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="transactionId != null">
        transaction_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="submitTime != null">
        submit_time,
      </if>
      <if test="expireTime != null">
        expire_time,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="returnTime != null">
        return_time,
      </if>
      <if test="returnCode != null">
        return_code,
      </if>
      <if test="returnMsg != null">
        return_msg,
      </if>
      <if test="resultCode != null">
        result_code,
      </if>
      <if test="errCode != null">
        err_code,
      </if>
      <if test="errCodeDes != null">
        err_code_des,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="bankType != null">
        bank_type,
      </if>
      <if test="tradeState != null">
        trade_state,
      </if>
      <if test="tradeStateDesc != null">
        trade_state_desc,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="tradeLimit != null">
        trade_limit,
      </if>
      <if test="tradeDesc != null">
        trade_desc,
      </if>
      <if test="dateCreated != null">
        date_created,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="dateUpdated != null">
        date_updated,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="requestNo != null">
        #{requestNo,jdbcType=VARCHAR},
      </if>
      <if test="processNo != null">
        #{processNo,jdbcType=VARCHAR},
      </if>
      <if test="wechatMemberNo != null">
        #{wechatMemberNo,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null">
        #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="noticeQueue != null">
        #{noticeQueue,jdbcType=VARCHAR},
      </if>
      <if test="extText1 != null">
        #{extText1,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="codeUrl != null">
        #{codeUrl,jdbcType=VARCHAR},
      </if>
      <if test="mwebUrl != null">
        #{mwebUrl,jdbcType=VARCHAR},
      </if>
      <if test="sceneInfo != null">
        #{sceneInfo,jdbcType=VARCHAR},
      </if>
      <if test="requestIp != null">
        #{requestIp,jdbcType=VARCHAR},
      </if>
      <if test="prepayId != null">
        #{prepayId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null">
        #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null">
        #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireTime != null">
        #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="returnTime != null">
        #{returnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="returnCode != null">
        #{returnCode,jdbcType=VARCHAR},
      </if>
      <if test="returnMsg != null">
        #{returnMsg,jdbcType=VARCHAR},
      </if>
      <if test="resultCode != null">
        #{resultCode,jdbcType=VARCHAR},
      </if>
      <if test="errCode != null">
        #{errCode,jdbcType=VARCHAR},
      </if>
      <if test="errCodeDes != null">
        #{errCodeDes,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="bankType != null">
        #{bankType,jdbcType=VARCHAR},
      </if>
      <if test="tradeState != null">
        #{tradeState,jdbcType=VARCHAR},
      </if>
      <if test="tradeStateDesc != null">
        #{tradeStateDesc,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="tradeLimit != null">
        #{tradeLimit,jdbcType=VARCHAR},
      </if>
      <if test="tradeDesc != null">
        #{tradeDesc,jdbcType=VARCHAR},
      </if>
      <if test="dateCreated != null">
        #{dateCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="dateUpdated != null">
        #{dateUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lilipay.wechat.entity.WechatEntity">
    <!--@mbg.generated-->
    update wechat
    <set>
      <if test="requestNo != null">
        request_no = #{requestNo,jdbcType=VARCHAR},
      </if>
      <if test="processNo != null">
        process_no = #{processNo,jdbcType=VARCHAR},
      </if>
      <if test="wechatMemberNo != null">
        wechat_member_no = #{wechatMemberNo,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null">
        trade_type = #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="noticeQueue != null">
        notice_queue = #{noticeQueue,jdbcType=VARCHAR},
      </if>
      <if test="extText1 != null">
        ext_text1 = #{extText1,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="codeUrl != null">
        code_url = #{codeUrl,jdbcType=VARCHAR},
      </if>
      <if test="mwebUrl != null">
        mweb_url = #{mwebUrl,jdbcType=VARCHAR},
      </if>
      <if test="sceneInfo != null">
        scene_info = #{sceneInfo,jdbcType=VARCHAR},
      </if>
      <if test="requestIp != null">
        request_ip = #{requestIp,jdbcType=VARCHAR},
      </if>
      <if test="prepayId != null">
        prepay_id = #{prepayId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null">
        transaction_id = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null">
        submit_time = #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireTime != null">
        expire_time = #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="returnTime != null">
        return_time = #{returnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="returnCode != null">
        return_code = #{returnCode,jdbcType=VARCHAR},
      </if>
      <if test="returnMsg != null">
        return_msg = #{returnMsg,jdbcType=VARCHAR},
      </if>
      <if test="resultCode != null">
        result_code = #{resultCode,jdbcType=VARCHAR},
      </if>
      <if test="errCode != null">
        err_code = #{errCode,jdbcType=VARCHAR},
      </if>
      <if test="errCodeDes != null">
        err_code_des = #{errCodeDes,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="bankType != null">
        bank_type = #{bankType,jdbcType=VARCHAR},
      </if>
      <if test="tradeState != null">
        trade_state = #{tradeState,jdbcType=VARCHAR},
      </if>
      <if test="tradeStateDesc != null">
        trade_state_desc = #{tradeStateDesc,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="tradeLimit != null">
        trade_limit = #{tradeLimit,jdbcType=VARCHAR},
      </if>
      <if test="tradeDesc != null">
        trade_desc = #{tradeDesc,jdbcType=VARCHAR},
      </if>
      <if test="dateCreated != null">
        date_created = #{dateCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="dateUpdated != null">
        date_updated = #{dateUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lilipay.wechat.entity.WechatEntity">
    <!--@mbg.generated-->
    update wechat
    set request_no = #{requestNo,jdbcType=VARCHAR},
      process_no = #{processNo,jdbcType=VARCHAR},
      wechat_member_no = #{wechatMemberNo,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=VARCHAR},
      trade_type = #{tradeType,jdbcType=VARCHAR},
      notice_queue = #{noticeQueue,jdbcType=VARCHAR},
      ext_text1 = #{extText1,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=VARCHAR},
      code_url = #{codeUrl,jdbcType=VARCHAR},
      mweb_url = #{mwebUrl,jdbcType=VARCHAR},
      scene_info = #{sceneInfo,jdbcType=VARCHAR},
      request_ip = #{requestIp,jdbcType=VARCHAR},
      prepay_id = #{prepayId,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR},
      transaction_id = #{transactionId,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      submit_time = #{submitTime,jdbcType=TIMESTAMP},
      expire_time = #{expireTime,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      return_time = #{returnTime,jdbcType=TIMESTAMP},
      return_code = #{returnCode,jdbcType=VARCHAR},
      return_msg = #{returnMsg,jdbcType=VARCHAR},
      result_code = #{resultCode,jdbcType=VARCHAR},
      err_code = #{errCode,jdbcType=VARCHAR},
      err_code_des = #{errCodeDes,jdbcType=VARCHAR},
      open_id = #{openId,jdbcType=VARCHAR},
      bank_type = #{bankType,jdbcType=VARCHAR},
      trade_state = #{tradeState,jdbcType=VARCHAR},
      trade_state_desc = #{tradeStateDesc,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR},
      trade_limit = #{tradeLimit,jdbcType=VARCHAR},
      trade_desc = #{tradeDesc,jdbcType=VARCHAR},
      date_created = #{dateCreated,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      date_updated = #{dateUpdated,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>